main {
  width: 100%;
  height: 82.75%;
}

.ReactVirtualized__Grid{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ReactVirtualized__Grid__innerScrollContainer{
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}